* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
}
body {
  background-image: linear-gradient(to top, #020024, #0e2c3f, #0880ab);
}
.hero {
  height: 630px;
  width: 100%;
  background-image: url("./Images/bg-desktop.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.dark-image {
  background-color: black;
  height: 630px;
  width: 100%;
  opacity: 0.6;
  color: white;
}

header {
  display: flex;
  padding-top: 20px;
  padding-left: 40px;
}
.hamburger {
  display: none;
  cursor: pointer;
}
nav {
  display: flex;
  justify-content: space-evenly;
  gap: 50px;
  padding-left: 380px;
}
a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: 0.7s ease;
  padding: 8px;
}
a:hover {
  color: rgb(243, 212, 62);
}
.textArea {
  text-align: center;
  margin-top: 80px;
  width: 800px;
  line-height: 1.5;
  margin-left: 200px;
  z-index: 1;
}
.txt-medium {
  font-size: 22px;
}
.txt-small {
  font-size: 20px;
}
.txt-large {
  font-size: 46px;
}
button {
  padding: 8px;
  border: 1px solid rgb(238, 231, 109);
  background-color: transparent;
  color: white;
  font-size: 20px;
}
.book {
  margin-top: 20px;
  margin-bottom: 20px;
}
.info {
  color: brown;
}
.info {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}
.box {
  height: 100px;
  width: 30%;
  padding: 20px;
  border: 2px solid black;
  background-color: #debc78;
  backdrop-filter: blur(2px);
  border: 1px solid rgb(232, 230, 183);
  text-align: center;
  color: black;
  border-radius: 15px;
  line-height: 2;
}
.hr {
  display: none;
}
.locate {
  display: none;
}

.FM {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  color: White;
}
.menuItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}
.item {
  height: 270px;
  width: 240px;
  margin-bottom: 30px;
  box-shadow: 0 6px 15px 6px rgba(254, 254, 254, 0.272);
  text-align: center;
}

.paneer {
  background-image: url("./Images/Paneer-Tikka-Masala.png");
  background-size: cover;
  height: 200px;
  width: 100%;
}
.biryani {
  background-image: url("./Images/Biryani.png");
  background-size: cover;
  height: 200px;
  width: 100%;
}
.chana-masala {
  background-image: url("./Images/Chana-Masala.png");
  background-size: cover;
  height: 200px;
  width: 100%;
}
.pav-bhaji {
  background-image: url("./Images/Pav-Bhaji.png");
  background-size: cover;
  height: 200px;
  width: 100%;
}
.tandoori-naan {
  background-image: url("./Images/Tandoori-Naan.png");
  background-size: cover;
  height: 200px;
  width: 100%;
}
.masala-chai {
  background-image: url("./Images/Masala-Chai.png");
  background-size: cover;
  height: 200px;
  width: 100%;
}
.bhel-puri {
  background-image: url("./Images/Bhel-Puri.png");
  background-size: cover;
  height: 200px;
  width: 100%;
}
.kheer {
  background-image: url("./Images/Kheer.png");
  background-size: cover;
  height: 200px;
  width: 100%;
}

.dishName {
  color: white;
  margin-top: 3%;
}
.price {
  margin-bottom: 3%;
  color: white;
  margin-top: 3%;
}
.about {
  background-color: beige;
  width: 100%;
}
.container {
  display: flex;
  gap: 70px;
  justify-content: center;
  align-items: center;
}
.text {
  height: 300px;
  width: 500px;
  padding-top: 15px;
  line-height: 1.5;
  letter-spacing: 2px;
}
.image {
  height: 300px;
  width: 380px;
  border: 2px solid black;
  margin-bottom: 30px;
  background-image: url("./Images/Restaurant.png");
  background-size: cover;
}
.Abt {
  padding: 30px;
  margin-top: 40px;
}
p {
  color: white;
}
h2 {
  color: white;
}
.footerContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 30px 0px 60px 30px;
  align-items: center;
  justify-content: center;
  letter-spacing: 2px;
  line-height: 1.6;
}
.copyright {
  padding: 15px;
  text-align: center;
  background-color: beige;
  color: black;
  margin: 20px 0 30px 0;
}
.part {
  width: 200px;
  display: flex;
  flex-direction: column;
}
span {
  color: #debc78;
  font-weight: bold;
}
.social {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 50px;
  letter-spacing: 2px;
  line-height: 1.6;
}
.Reservation {
  display: flex;
  justify-content: center;
  background-image: url("./Images/bg-reistration.png");
  background-size: cover;
}
.reserve {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 140px;
  background-color: rgba(237, 226, 226, 0.3);
  width: 50%;
  padding: 20px;
}
.Res {
  color: white;
  margin-bottom: 30px;
}
#reservation-form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  width: 500px;
  width: 70%;
}
input {
  height: 40px;
  border-bottom: 2px solid black;
  border-top: none;
  border-left: none;
  margin-right: none;
  background-color: transparent;
  color: white;
}
::placeholder {
  color: white;
}
textarea::placeholder {
  color: black;
}
#submitbtn {
  margin-bottom: 40px;
}

/*Responsive*/

@media (max-width: 768px) {
  header {
    flex-direction: column;
    align-items: center;
  }

  nav {
    padding-left: 0;
    flex-direction: column;
  }

  .textArea {
    margin-left: 0;
    width: 90%;
  }

  .menuItems {
    margin-left: 0;
  }

  .container {
    flex-direction: column;
    margin-left: 0;
  }

  .box {
    width: 90%;
  }

  .footerContainer {
    flex-direction: column;
    align-items: center;
  }

  .social {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .hero {
    width: 100%;
    height: 500px;
    background-image: url("./Images/bgImage.png");
    margin-right: 0;
  }
  .textArea {
    margin: 50px;
    text-align: center;
    width: 85%;
  }
  .txt-medium {
    font-size: 16px;
  }
  .txt-small {
    font-size: 10px;
  }
  .txt-large {
    font-size: 26px;
  }
  nav {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .box p {
    display: none;
  }
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 70px;
    gap: 0;
    flex-direction: column;
    background-color: #020024;
    width: 100%;
    text-align: center;
    transition: 0.3s;
  }

  .nav-menu.active {
    left: 0;
  }
  .dark-image {
    height: 500px;
    width: 100%;
  }
  .menuItems {
    margin-left: 0;
    gap: 20px;
  }
  .item {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    height: 200px;
    width: 90%;
    padding: 10px;
  }
  .a {
    width: 60%;
    height: 160px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .item-text {
    width: 70px;
  }
  .box {
    height: 70px;
    border-radius: 0%;
  }
  .info {
    gap: 0px;
    padding: 0px;
  }
  .hr {
    display: block;
    text-align: center;
    width: 100%;
    background-color: beige;
    padding: 20px;
  }
  .hr p {
    color: #020024;
    line-height: 1.5;
    letter-spacing: 2px;
  }
  .location:hover .locate {
    display: block;
  }
  .text {
    height: 300px;
    width: 350px;
    padding-top: 2px;
    line-height: 1;
  }
  .image {
    margin-bottom: 0px;
    width: 70%;
    height: 260px;
  }
  header {
    flex-direction: row;
    gap: 150px;
  }
  .reserve {
    width: 80%;
  }
}
